*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: aliceblue;
  background-size: 100%;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 35px;
  z-index: 100;
  display: flex;
  background-color: rgba(88, 88, 234, 0.967);
  align-items: center;
}
@media(max-width: 1200px){
  header{
    margin: 0 auto;
    max-width: 1200px;
    padding-right: 15px;
  }
}